body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  background-image: url("star.jpg");
  background-repeat: no-repeat;
  background-position:top center;
  animation: backgr 10s;
}

.page {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  
  
}

.intro {
     
  margin: auto;
  font-family: sans-serif;
  color: black;
  font-size: 2vw;
  animation: intro 7s linear 2s;
  padding-bottom: 30px;
    
}

.becode {

  margin: auto;
  font-family: sans-serif;
  color: black;
  font-size: 2vh;
  animation: becode 8s ease-out 10s;
  position: fixed;
  
  
  
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 700%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 30s linear 18s;
  
  ;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes backgr {
    0% {background-color: #000;
        background-image: none;
    }
    100%{background-color: #000;
        background-image: none;
    }
    
      
}

@keyframes intro {
    0% {
        opacity: 0;
        color: #000;
        width: 55vw;
        height: 15vh;
        margin-top: 30vh;
    }

    50% {opacity: 1;
        color: rgb(130, 204, 223);
        width: 55vw;
        height: 15vh;
    }
    95% {
        width: 55vw;
        height: 15vh;
        margin-top: 30vh;
        color: black;
}

    100% {opacity: 0;
        color: black;
        width: 0vw;
        height: 0vh;
    }
}

@keyframes becode {
    0% {
        opacity: 1;
        color: #000;
        width: 100vw;
        height: 80vh;
        margin-top: 30vh;
        text-shadow:2px 0 0 #feda4a, -2px 0 0 #feda4a, 0 2px 0 #feda4a, 
                    0 -2px 0 #feda4a, 1px 1px #feda4a, -1px -1px 0 #feda4a, 
                    1px -1px 0 #feda4a, -1px 1px 0 #feda4a;
        font-size: 1700%;
        text-align: center;
    }


    95% {
        width: 100vw;
        height: 80vh;
        margin-top:30vh;
        color: black;
        font-size: 20%;
        opacity: 1;
        text-align: center;
}
    100% {
        opacity: 0;
        width: 100vw;
        height: 80vh;
        margin-top: 0vh;
    }

    
}



@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg)  translateZ(0);
  }

  90% {
    opacity: 1;
  }
  100% { 
    top: -8000px;
    transform: rotateX(18deg) translateZ(-2500px);
    opacity: 0;
  }
}